# VSCode
.vscode/*
 
# Private Node Modules
node_modules/
 
# Private Files
data/*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
*.txt
 
# Mac/OSX
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/